<!DOCTYPE= html>                                                                                                      

<html lang="en">
    <head>
        {% load static %}
        <title> Finances </title>
        <meta charset="utf-8">


		<link rel="stylesheet" 			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 			crossorigin="anonymous"/>

        <link rel="stylesheet" href="{% static 'financial_tracking/style.css' %}">
        <script src="https://unpkg.com/vue@next"></script>
    </head>

    <body>

    <h1 id="test"> TESTING </h1>

    <div id="finances">

    {% if data %}
        <ul>
            {% for dataPoint in data %}
            <ul>
                <li> {{ dataPoint.description }}  </li>
            </ul>

            {% endfor %}
        </ul>
    {% endif %}

        <h1 id=indicator> [% indicator %] </h1>
    </div>










		<script src="{% static 'financial_tracking/finances.js' %}"></script>

    </body




</html>

