<!DOCTYPE= html>                                                                                                      

<html lang="en">
    <head>
        {% load static %}
        <title> Finances </title>
        <meta charset="utf-8">


		<link rel="stylesheet" 			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 			crossorigin="anonymous"/>

        <link rel="stylesheet" href="{% static 'financial_tracking/style.css' %}">
        <script src="https://unpkg.com/vue@next"></script>
    </head>

    <body>

        <h1 id="test"> TESTING </h1>

        <div id="finances">


            <div id=expenses>
                <div v-if="dataLoading"> Loading.... </div>
                <div v-else>
                    <div v-for='data in dataList'>
                        <div>
                            <h5> [% data['description'] %] $[% data['price'] %] [% data['date'] %]  </h5>
                        </div>
                    </div>
                </div>
            </div>

            <h1 id=indicator> [% indicator %] </h1>
    </div>










		<script src="{% static 'financial_tracking/finances.js' %}"></script>

    </body




</html>

